openapi: 3.0.0
info:
  version: 0.1.0
  title: Finary API
  description: Finary API to interact with a user account.
  license:
    name: MIT
  contact:
    name: Finary Support
    url: 'http://community.finary.com'
    email: hello@finary.com
servers:
  - url: 'https://api.finary.com'
tags:
  - name: general
    description: resources non specific to a user
  - name: user
    description: resources specific to a user
components:
  securitySchemes:
    finary_access_token:
      type: apiKey
      in: cookie
      name: finary_access_token
  schemas:
    LoginInfo:
      type: object
      properties:
        email:
          type: string
        password:
          type: string
        device_id:
          type: string
      required:
        - email
        - password
        - device_id
    InputCrypto:
      type: object
      properties:
        correlation_id:
          type: string
        quantity:
          type: number
        buying_price:
          type: number
        holdings_account:
          type: object
          properties:
            id:
              type: string
          required:
            - id
      required:
        - correlation_id
        - quantity
        - buying_price
        - holdings_account
    BankAccountType:
      type: object
      properties:
        id:
          type: string
        slug:
          type: string
        account_type:
          type: string
        subtype:
          type: string
        name:
          type: string
        display_name:
          type: string
        priority:
          type: integer
      required:
        - id
        - slug
        - account_type
        - subtype
        - name
        - display_name
        - priority
    BaseResponse:
      type: object
      properties:
        message:
          type: string
        error:
          $ref: '#/components/schemas/Error'
      required:
        - message
    ConnectionBank:
      type: object
      properties:
        id:
          type: string
        connection_state:
          type: string
          nullable: true
        last_sync_at:
          type: string
        last_successful_sync_at:
          type: string
        manual_sync:
          type: boolean
        last_provider_update_at:
          type: string
        name:
          type: string
        correlation_id:
          type: string
        original_connection_state:
          type: string
          nullable: true
        institution:
          $ref: '#/components/schemas/Institution'
        provider_connection:
          $ref: '#/components/schemas/ProviderConnection'
        institution_provider:
          $ref: '#/components/schemas/InstitutionProvider'
        holdings_accounts:
          type: array
          items:
            $ref: '#/components/schemas/HoldingsAccount'
        balance:
          type: number
      required:
        - id
        - last_sync_at
        - last_successful_sync_at
        - manual_sync
        - last_provider_update_at
        - name
        - correlation_id
        - institution
        - provider_connection
        - institution_provider
        - holdings_accounts
        - balance
    ConnectionInstitution:
      type: object
      properties:
        id:
          type: string
        connection_state:
          type: string
          nullable: true
        last_sync_at:
          type: string
        last_successful_sync_at:
          type: string
        manual_sync:
          type: boolean
        last_provider_update_at:
          type: string
        name:
          type: string
        correlation_id:
          type: string
        original_connection_state:
          type: string
          nullable: true
        institution:
          $ref: '#/components/schemas/Institution'
        provider_connection:
          $ref: '#/components/schemas/ProviderConnection'
        institution_provider:
          $ref: '#/components/schemas/InstitutionProvider'
      required:
        - id
        - connection_state
        - last_sync_at
        - last_successful_sync_at
        - manual_sync
        - last_provider_update_at
        - name
        - correlation_id
        - original_connection_state
        - institution
        - provider_connection
        - institution_provider
    ConnectionStartup:
      type: object
      properties:
        id:
          type: string
        connection_state:
          type: string
          nullable: true
        last_sync_at:
          type: string
        last_successful_sync_at:
          type: string
        manual_sync:
          type: boolean
        last_provider_update_at:
          type: string
        name:
          type: string
        correlation_id:
          type: string
        original_connection_state:
          type: string
          nullable: true
        institution:
          $ref: '#/components/schemas/Institution'
        provider_connection:
          $ref: '#/components/schemas/ProviderConnection'
        institution_provider:
          $ref: '#/components/schemas/InstitutionProvider'
        holdings_accounts:
          type: array
          items:
            $ref: '#/components/schemas/HoldingsAccount'
        balance:
          type: number
      required:
        - id
        - last_sync_at
        - last_successful_sync_at
        - manual_sync
        - last_provider_update_at
        - name
        - correlation_id
        - institution
        - provider_connection
        - institution_provider
        - holdings_accounts
        - balance
    CryptoChain:
      type: object
      properties:
        id:
          type: string
        community_id:
          type: integer
        name:
          type: string
        native_token_id:
          type: string
        logo_url:
          type: string
        wrapped_token_id:
          type: string
      required:
        - id
        - community_id
        - name
        - native_token_id
        - logo_url
        - wrapped_token_id
    Currency:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        code:
          type: string
        symbol:
          type: string
          nullable: true
        correlation_id:
          type: string
        logo_url:
          type: string
          nullable: true
      required:
        - name
        - code
        - correlation_id
    CurrencyAdvanced:
      type: object
      properties:
        id:
          type: integer
        code:
          type: string
        name:
          type: string
        symbol:
          type: string
        currency_type:
          type: string
        created_at:
          type: string
        updated_at:
          type: string
        rank:
          type: integer
        correlation_id:
          type: string
        is_stable:
          type: boolean
        data_provider:
          type: string
        current_price:
          type: string
        currency_type_terminal:
          type: string
        external_logo_url:
          type: string
      required:
        - id
        - code
        - name
        - symbol
        - currency_type
        - created_at
        - updated_at
        - rank
        - correlation_id
        - is_stable
        - data_provider
        - current_price
        - currency_type_terminal
        - external_logo_url
    DistributionShare:
      type: object
      additionalProperties:
        $ref: '#/components/schemas/DistributionShareValue'
    DistributionShareValue:
      type: object
      properties:
        value:
          type: number
        share:
          type: number
      required:
        - value
        - share
    Error:
      type: object
      nullable: true
      properties:
        code:
          type: string
      required:
        - code
    GenericAssetCategory:
      type: object
      properties:
        name:
          type: string
      required:
        - name
    HoldingsAccount:
      type: object
      properties:
        slug:
          type: string
        id:
          type: string
          format: uuid
        name:
          type: string
        manual_type:
          type: string
          nullable: true
        connection_id:
          type: string
          nullable: true
        connection_state:
          type: string
          nullable: true
        last_sync_at:
          type: string
          nullable: true
        last_sync:
          type: string
          nullable: true
        currency:
          $ref: '#/components/schemas/Currency'
        display_currency:
          $ref: '#/components/schemas/Currency'
        annual_yield:
          type: number
          nullable: true
        balance:
          type: number
        display_balance:
          type: number
        transactions_count:
          type: integer
        bank_account_type:
          $ref: '#/components/schemas/BankAccountType'
        upnl:
          type: number
          nullable: true
        display_upnl:
          type: number
          nullable: true
        upnl_percent:
          type: number
          nullable: true
        unrealized_pnl:
          type: number
          nullable: true
        display_unrealized_pnl:
          type: number
          nullable: true
        unrealized_pnl_percent:
          type: number
          nullable: true
        bank:
          $ref: '#/components/schemas/Institution'
        exchange:
          $ref: '#/components/schemas/Institution'
        institution:
          $ref: '#/components/schemas/Institution'
        institution_connection:
          nullable: true
          allOf:
            - $ref: '#/components/schemas/ConnectionInstitution'
        provider_connection:
          nullable: true
          allOf:
            - $ref: '#/components/schemas/ProviderConnection'
        cryptos:
          type: array
          items:
            $ref: '#/components/schemas/UserCrypto'
        securities:
          type: array
          items:
            $ref: '#/components/schemas/UserSecurity'
        scpis:
          type: array
          items:
            $ref: '#/components/schemas/UserSCPI'
        fonds_euro:
          type: array
          items:
            $ref: '#/components/schemas/UserFondsEuro'
        startups:
          type: array
          items:
            $ref: '#/components/schemas/UserStartup'
        generic_assets:
          type: array
          items:
            $ref: '#/components/schemas/UserGenericAsset'
        real_estates:
          type: array
          items:
            $ref: '#/components/schemas/UserRealEstate'
        user_precious_metals:
          type: array
          items: {}
      required:
        - slug
        - id
        - name
        - last_sync_at
        - currency
        - display_currency
        - annual_yield
        - balance
        - display_balance
        - transactions_count
    Institution:
      type: object
      properties:
        id:
          type: string
        slug:
          type: string
        name:
          type: string
        countries:
          type: array
          items:
            type: string
        twitter_handle:
          type: string
          nullable: true
        logo_url:
          type: string
          nullable: true
        is_available:
          type: boolean
        is_requestable:
          type: boolean
        providers:
          type: array
          items:
            $ref: '#/components/schemas/InstitutionProvider'
      required:
        - id
        - slug
        - name
        - countries
        - is_requestable
    InstitutionProvider:
      type: object
      properties:
        id:
          type: string
        correlation_id:
          type: string
        capabilities:
          type: array
          items:
            type: string
        status:
          type: string
        is_enabled:
          type: boolean
        provider:
          $ref: '#/components/schemas/Provider'
      required:
        - id
        - correlation_id
        - capabilities
        - status
        - is_enabled
        - provider
    PreciousMetal:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        international_name:
          type: string
          nullable: true
        image_url:
          type: string
          nullable: true
        updated_at:
          type: string
        current_price:
          type: number
        display_current_price:
          type: number
        currency:
          $ref: '#/components/schemas/Currency'
        display_currency:
          $ref: '#/components/schemas/Currency'
      required:
        - id
        - name
        - updated_at
        - current_price
        - display_current_price
        - currency
        - display_currency
    Provider:
      type: object
      properties:
        name:
          type: string
        correlation_id:
          type: string
      required:
        - name
        - correlation_id
    ProviderConnection:
      type: object
      properties:
        id:
          type: string
        last_sync_at:
          type: string
        provider:
          $ref: '#/components/schemas/Provider'
      required:
        - id
        - last_sync_at
        - provider
    SCPI:
      type: object
      description: 'Information about an subscribed SCPI, used a sub object of a UserSCPI'
      properties:
        id:
          type: integer
        name:
          type: string
        scpi_type:
          type: string
        category:
          type: string
        current_price:
          type: number
        display_current_price:
          type: number
        withdrawal_value:
          type: number
        subscription_price:
          type: number
        display_subscription_price:
          type: number
        subscription_fees_ratio:
          type: number
        management_fees_ratio:
          type: number
        exit_fees_ratio:
          type: number
          nullable: true
        tdvm_ratio:
          type: number
        currency:
          $ref: '#/components/schemas/Currency'
        display_currency:
          $ref: '#/components/schemas/Currency'
      required:
        - id
        - name
        - scpi_type
        - category
        - current_price
        - display_current_price
        - withdrawal_value
        - subscription_price
        - display_subscription_price
        - subscription_fees_ratio
        - management_fees_ratio
        - exit_fees_ratio
        - tdvm_ratio
        - currency
        - display_currency
    SCPIResult:
      type: object
      description: A very short version of SCPI as returned by get_scpis
      properties:
        correlation_id:
          type: string
        name:
          type: string
      required:
        - correlation_id
        - name
    Security:
      type: object
      properties:
        slug:
          type: string
        name:
          type: string
        symbol:
          type: string
          nullable: true
        logo_url:
          type: string
        security_type:
          $ref: '#/components/schemas/SecurityType'
        current_price:
          type: number
        display_current_price:
          type: number
        subscription_fees_ratio:
          type: number
          nullable: true
        expense_ratio:
          type: number
          nullable: true
        currency:
          $ref: '#/components/schemas/Currency'
        display_currency:
          $ref: '#/components/schemas/Currency'
      required:
        - slug
        - name
        - symbol
        - logo_url
        - security_type
        - current_price
        - display_current_price
        - subscription_fees_ratio
        - expense_ratio
        - currency
        - display_currency
    SecurityResult:
      type: object
      description: A very short version of SCPI as returned by get_securities
      properties:
        correlation_id:
          type: string
        name:
          type: string
        symbol:
          type: string
        currency:
          $ref: '#/components/schemas/CurrencyAdvanced'
        type:
          $ref: '#/components/schemas/SecurityType'
      required:
        - correlation_id
        - name
        - symbol
        - currency
        - type
    SecurityType:
      type: string
      enum:
        - bond
        - equity
        - etf
        - fund
        - unknown
    Startup:
      type: object
      properties:
        name:
          type: string
        slug:
          type: string
        current_value:
          type: number
        investments_count:
          type: integer
        connected:
          type: boolean
        connected_with:
          type: string
          nullable: true
        multiple:
          type: number
        unrealized_pnl:
          type: number
        logo_url:
          type: string
        sold:
          type: boolean
      required:
        - name
        - slug
        - current_value
        - investments_count
        - connected
        - multiple
        - unrealized_pnl
        - logo_url
        - sold
    StartupFoundingRound:
      type: object
      properties:
        name:
          type: string
        value:
          type: integer
          nullable: true
        currency:
          nullable: true
          allOf:
            - $ref: '#/components/schemas/CurrencyAdvanced'
        value_usd:
          type: integer
          nullable: true
        announced_at:
          type: string
        num_investors:
          type: integer
      required:
        - name
        - value
        - currency
        - value_usd
        - announced_at
        - num_investors
    StartupInvestment:
      type: object
      properties:
        id:
          type: integer
        round_type:
          type: string
        investment_date:
          type: string
        funding_round:
          type: string
        valuation_type:
          type: string
          nullable: true
        transaction_type:
          type: string
        share_type:
          type: string
        expiration_date:
          type: string
          nullable: true
        invested_via_holding:
          type: boolean
          nullable: true
        invested_via_pea:
          type: boolean
          nullable: true
        invested_via_150_0_b_ter:
          type: boolean
          nullable: true
        memo:
          type: string
          nullable: true
        converted:
          type: boolean
          nullable: true
        state:
          type: string
          nullable: true
        correlation_id:
          type: string
          nullable: true
        discount:
          type: number
          nullable: true
        currency:
          $ref: '#/components/schemas/Currency'
        number_of_shares:
          type: number
        share_current_price:
          type: number
          nullable: true
        display_share_current_price:
          type: number
          nullable: true
        price_per_share:
          type: number
        display_price_per_share:
          type: number
        valuation_cap:
          type: number
          nullable: true
        display_valuation_cap:
          type: number
          nullable: true
        valuation_floor:
          type: number
          nullable: true
        display_valuation_floor:
          type: number
          nullable: true
        max_amount_raised:
          type: number
          nullable: true
        display_max_amount_raised:
          type: number
          nullable: true
        invested_amount:
          type: number
        display_invested_amount:
          type: number
        current_value:
          type: number
        display_current_value:
          type: number
        unrealized_pnl:
          type: number
        display_unrealized_pnl:
          type: number
        unrealized_pnl_percent:
          type: number
      required:
        - id
        - round_type
        - investment_date
        - funding_round
        - valuation_type
        - transaction_type
        - share_type
        - expiration_date
        - invested_via_holding
        - invested_via_pea
        - invested_via_150_0_b_ter
        - memo
        - converted
        - state
        - correlation_id
        - discount
        - currency
        - number_of_shares
        - share_current_price
        - display_share_current_price
        - price_per_share
        - display_price_per_share
        - valuation_cap
        - display_valuation_cap
        - valuation_floor
        - display_valuation_floor
        - max_amount_raised
        - display_max_amount_raised
        - invested_amount
        - display_invested_amount
        - current_value
        - display_current_value
        - unrealized_pnl
        - display_unrealized_pnl
        - unrealized_pnl_percent
    StartupInfo:
      type: object
      description: 'Information about a startup, independently from the user investment'
      properties:
        name:
          type: string
        slug:
          type: string
        logo_url:
          type: string
        founders:
          type: array
          items:
            type: string
        founded_at:
          type: string
          nullable: true
        labels:
          type: array
          items:
            type: string
        description:
          type: string
          nullable: true
        country_name:
          type: string
          nullable: true
        country_code:
          type: string
          nullable: true
        website:
          type: string
          nullable: true
        funding_rounds:
          type: array
          items:
            $ref: '#/components/schemas/StartupFoundingRound'
        total_raised:
          type: number
      required:
        - name
        - slug
        - logo_url
        - founders
        - founded_at
        - labels
        - description
        - country_name
        - country_code
        - website
        - funding_rounds
        - total_raised
    User:
      type: object
      properties:
        slug:
          type: string
        firstname:
          type: string
          nullable: true
        lastname:
          type: string
          nullable: true
        email:
          type: string
        push_token:
          type: string
          nullable: true
        subscription_current_period_end_at:
          type: string
          nullable: true
        subscription_cancel_at:
          type: string
          nullable: true
        subscription_renewal_period:
          type: string
          nullable: true
        subscription_price_without_tax:
          type: integer
          nullable: true
        subscription_status:
          type: string
          nullable: true
        birthdate:
          type: string
          nullable: true
        is_otp_enabled:
          type: boolean
          nullable: true
        is_beta_tester:
          type: boolean
          nullable: true
        last_user_sync_triggered_at:
          type: string
          nullable: true
        last_user_sync_at:
          type: string
          nullable: true
        last_asset_updated_at:
          type: string
          nullable: true
        referral_id:
          type: string
          nullable: true
        created_at:
          type: string
        registration_platform:
          type: string
          nullable: true
        newsletter_subscribed:
          type: boolean
          nullable: true
        webapp_emails_subscribed:
          type: boolean
          nullable: true
        is_crowdfunding_open:
          type: boolean
          nullable: true
        is_crowdfunding_preregistered:
          type: boolean
          nullable: true
        referral_status:
          type: string
          nullable: true
        net_monthly_salary:
          type: integer
          nullable: true
        finary_investor_status:
          type: string
          nullable: true
        age:
          type: number
          nullable: true
        is_free_trial_available:
          type: boolean
          nullable: true
        onboarding_steps:
          type: array
          items:
            type: object
            properties:
              step:
                type: string
              state:
                type: string
            required:
              - step
              - state
        is_onboarding_completed:
          type: boolean
          nullable: true
        is_active:
          type: boolean
          nullable: true
        crypto_exchange_requests:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              crypto_exchange_slug:
                type: string
            required:
              - id
              - crypto_exchange_slug
        investor_profile:
          type: object
          properties:
            has_clicked_opportunities:
              type: boolean
            monthly_expenses:
              type: number
            annual_salary:
              type: number
            income_tax_rate:
              type: number
              nullable: true
          required:
            - has_clicked_opportunities
            - monthly_expenses
            - annual_salary
            - income_tax_rate
        ui_configuration:
          type: object
          properties:
            information_banner_seen_version:
              type: integer
            wealth_display_mode:
              type: string
            display_language:
              type: string
            display_new_webapp_modal:
              type: boolean
            konami_code:
              type: string
              nullable: true
            is_crypto_currency_display_enabled:
              type: boolean
            has_seen_free_referral_modal:
              type: boolean
            has_seen_download_app_modal:
              type: boolean
            financial_projection_parameters:
              type: object
              properties:
                duration:
                  type: string
                monthly_contribution:
                  type: string
              required:
                - duration
                - monthly_contribution
            has_filled_invest_form:
              type: boolean
            period_display_mode:
              type: string
            display_currency:
              type: object
              properties:
                id:
                  type: integer
                name:
                  type: string
                code:
                  type: string
                symbol:
                  type: string
                correlation_id:
                  type: string
                logo_url:
                  type: string
              required:
                - id
                - name
                - code
                - symbol
                - correlation_id
                - logo_url
          required:
            - information_banner_seen_version
            - wealth_display_mode
            - display_language
            - display_new_webapp_modal
            - is_crypto_currency_display_enabled
            - has_seen_free_referral_modal
            - has_seen_download_app_modal
            - financial_projection_parameters
            - has_filled_invest_form
            - period_display_mode
            - display_currency
        devices:
          type: array
          items:
            type: object
            properties:
              device_id:
                type: string
              device_push_token:
                type: string
              expo_push_token:
                type: string
              is_notification_enabled:
                type: boolean
            required:
              - device_id
              - device_push_token
              - expo_push_token
              - is_notification_enabled
        has_bi_account:
          type: boolean
          nullable: true
      required:
        - slug
        - email
        - created_at
    UserCrypto:
      type: object
      properties:
        id:
          type: integer
        crypto:
          $ref: '#/components/schemas/Currency'
        owning_type:
          type: string
          enum:
            - hodled
            - stacked
        quantity:
          type: number
        current_price:
          type: number
        display_current_price:
          type: number
        buying_price:
          type: number
        buying_price_currency:
          $ref: '#/components/schemas/Currency'
        display_buying_price:
          type: number
        current_value:
          type: number
        display_current_value:
          type: number
        unrealized_pnl:
          type: number
        display_unrealized_pnl:
          type: number
        unrealized_pnl_percent:
          type: number
        display_currency:
          $ref: '#/components/schemas/Currency'
        account:
          $ref: '#/components/schemas/HoldingsAccount'
      required:
        - id
        - crypto
        - owning_type
        - quantity
        - current_price
        - display_current_price
        - buying_price
        - buying_price_currency
        - display_buying_price
        - current_value
        - display_current_value
        - unrealized_pnl
        - display_unrealized_pnl
        - unrealized_pnl_percent
        - display_currency
    UserFondsEuro:
      type: object
      properties:
        id:
          type: integer
        correlation_id:
          type: string
          nullable: true
        name:
          type: string
        buying_price:
          type: number
        display_buying_price:
          type: number
          nullable: true
        current_price:
          type: number
        display_current_price:
          type: number
        annual_yield:
          type: number
        current_value:
          type: number
        display_current_value:
          type: number
        unrealized_pnl:
          type: number
          nullable: true
        display_unrealized_pnl:
          type: number
          nullable: true
        unrealized_pnl_percent:
          type: number
          nullable: true
        currency:
          $ref: '#/components/schemas/Currency'
        display_currency:
          $ref: '#/components/schemas/Currency'
        bank_account:
          $ref: '#/components/schemas/HoldingsAccount'
        account:
          $ref: '#/components/schemas/HoldingsAccount'
      required:
        - id
        - correlation_id
        - name
        - buying_price
        - display_buying_price
        - current_price
        - display_current_price
        - annual_yield
        - current_value
        - display_current_value
        - unrealized_pnl
        - display_unrealized_pnl
        - unrealized_pnl_percent
        - currency
        - display_currency
    UserGenericAsset:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        updated_at:
          type: string
        category:
          type: string
          description: A Generic Asset Category as returned by the generic_asset_categories resource
        quantity:
          type: number
        buying_price:
          type: number
        display_buying_price:
          type: number
        current_price:
          type: number
        display_current_price:
          type: number
        current_value:
          type: number
        display_current_value:
          type: number
        unrealized_pnl:
          type: number
        display_unrealized_pnl:
          type: number
        unrealized_pnl_percent:
          type: number
        display_currency:
          $ref: '#/components/schemas/Currency'
        currency:
          $ref: '#/components/schemas/Currency'
      required:
        - id
        - name
        - updated_at
        - category
        - quantity
        - buying_price
        - display_buying_price
        - current_price
        - display_current_price
        - current_value
        - display_current_value
        - unrealized_pnl
        - display_unrealized_pnl
        - unrealized_pnl_percent
        - display_currency
        - currency
    UserRealEstate:
      type: object
      properties:
        id:
          type: integer
        slug:
          type: string
        address_formatted:
          type: string
        category:
          type: string
        building_type:
          type: string
        description:
          type: string
        exceptional_asset:
          type: boolean
        last_sync_at:
          type: string
        surface_unit:
          type: string
        bought_at:
          type: string
        garden_area:
          type: integer
        balcony_area:
          type: integer
        floor_number:
          type: integer
          nullable: true
        number_of_floors:
          type: integer
        number_of_bathrooms:
          type: integer
        number_of_rooms:
          type: integer
        garage_spaces:
          type: integer
        parking_spaces:
          type: integer
        general_condition:
          type: integer
        general_quality:
          type: integer
        kitchen_condition:
          type: integer
        kitchen_quality:
          type: integer
        bathrooms_condition:
          type: integer
        bathrooms_quality:
          type: integer
        windows_condition:
          type: integer
        windows_quality:
          type: integer
        flooring_condition:
          type: integer
        flooring_quality:
          type: integer
        building_period:
          type: string
        has_lift:
          type: boolean
          nullable: true
        has_pool:
          type: boolean
        has_sauna:
          type: boolean
        is_new:
          type: boolean
        is_furnished:
          type: boolean
        buying_price:
          type: number
        display_buying_price:
          type: number
        current_price:
          type: number
        display_current_price:
          type: number
        current_value:
          type: number
        display_current_value:
          type: number
        unrealized_pnl:
          type: number
        display_unrealized_pnl:
          type: number
        unrealized_pnl_percent:
          type: number
        surface:
          type: number
        ownership_percentage:
          type: number
        user_estimated_value:
          type: number
          nullable: true
        display_user_estimated_value:
          type: number
          nullable: true
        reimbursed_percent:
          type: number
      required:
        - id
        - slug
        - address_formatted
        - category
        - building_type
        - description
        - exceptional_asset
        - last_sync_at
        - surface_unit
        - bought_at
        - garden_area
        - balcony_area
        - floor_number
        - number_of_floors
        - number_of_bathrooms
        - number_of_rooms
        - garage_spaces
        - parking_spaces
        - general_condition
        - general_quality
        - kitchen_condition
        - kitchen_quality
        - bathrooms_condition
        - bathrooms_quality
        - windows_condition
        - windows_quality
        - flooring_condition
        - flooring_quality
        - building_period
        - has_lift
        - has_pool
        - has_sauna
        - is_new
        - is_furnished
        - buying_price
        - display_buying_price
        - current_price
        - display_current_price
        - current_value
        - display_current_value
        - unrealized_pnl
        - display_unrealized_pnl
        - unrealized_pnl_percent
        - surface
        - ownership_percentage
        - user_estimated_value
        - display_user_estimated_value
        - reimbursed_percent
    UserSCPI:
      type: object
      properties:
        id:
          type: integer
        correlation_id:
          type: string
        bought_at:
          type: string
          nullable: true
        property_type:
          type: string
        dismemberment_month_period:
          type: string
          nullable: true
        months_until_dismemberment_ends:
          type: integer
        scpi:
          $ref: '#/components/schemas/SCPI'
        current_value:
          type: number
        display_current_value:
          type: number
        unrealized_pnl:
          type: number
        display_unrealized_pnl:
          type: number
        unrealized_pnl_percent:
          type: number
        shares:
          type: number
        buying_price:
          type: number
        display_buying_price:
          type: number
        taxes:
          type: number
        display_taxes:
          type: number
        monthly_revenue:
          type: number
        display_monthly_revenue:
          type: number
        reimbursed_percent:
          type: number
          nullable: true
        loans:
          type: array
          items: {}
        bank_account:
          $ref: '#/components/schemas/HoldingsAccount'
        account:
          $ref: '#/components/schemas/HoldingsAccount'
      required:
        - id
        - correlation_id
        - bought_at
        - property_type
        - dismemberment_month_period
        - months_until_dismemberment_ends
        - scpi
        - current_value
        - display_current_value
        - unrealized_pnl
        - display_unrealized_pnl
        - unrealized_pnl_percent
        - shares
        - buying_price
        - display_buying_price
        - taxes
        - display_taxes
        - monthly_revenue
        - display_monthly_revenue
        - reimbursed_percent
        - loans
    UserSecurity:
      type: object
      properties:
        id:
          type: integer
        correlation_id:
          type: string
          nullable: true
        security:
          $ref: '#/components/schemas/Security'
        quantity:
          type: number
        current_value:
          type: number
        display_current_value:
          type: number
        unrealized_pnl:
          type: number
          nullable: true
        display_unrealized_pnl:
          type: number
          nullable: true
        unrealized_pnl_percent:
          type: number
          nullable: true
        buying_price:
          type: number
        display_buying_price:
          type: number
          nullable: true
      required:
        - id
        - correlation_id
        - security
        - quantity
        - current_value
        - display_current_value
        - unrealized_pnl
        - display_unrealized_pnl
        - unrealized_pnl_percent
        - buying_price
        - display_buying_price
    UserStartup:
      type: object
      properties:
        id:
          type: integer
        provider_connection_id:
          type: string
          nullable: true
        valuation:
          type: number
          nullable: true
        multiple:
          type: number
        buying_value:
          type: number
        startup:
          $ref: '#/components/schemas/StartupInfo'
        shares:
          type: number
        buying_price:
          type: number
        display_buying_price:
          type: number
        user_estimated_price:
          type: number
        display_user_estimated_price:
          type: number
        current_value:
          type: number
        display_current_value:
          type: number
        unrealized_pnl:
          type: number
        display_unrealized_pnl:
          type: number
        unrealized_pnl_percent:
          type: number
        investments:
          type: array
          items:
            $ref: '#/components/schemas/StartupInvestment'
        currency:
          $ref: '#/components/schemas/Currency'
        display_currency:
          $ref: '#/components/schemas/Currency'
      required:
        - id
        - provider_connection_id
        - valuation
        - multiple
        - buying_value
        - startup
        - shares
        - buying_price
        - display_buying_price
        - user_estimated_price
        - display_user_estimated_price
        - current_value
        - display_current_value
        - unrealized_pnl
        - display_unrealized_pnl
        - unrealized_pnl_percent
        - investments
        - currency
        - display_currency
  parameters:
    BankAccountType:
      in: query
      name: type
      schema:
        type: string
        enum:
          - invest
          - cash
    CurrencyType:
      in: query
      name: type
      schema:
        type: string
        enum:
          - crypto
          - fiat
    Query:
      in: query
      name: query
      schema:
        type: string
    Name:
      in: query
      name: name
      schema:
        type: string
    HoldingsAccountType:
      in: query
      name: manual_type
      required: false
      schema:
        type: string
        enum:
          - crypto
          - stocks
    CryptoId:
      in: path
      name: CryptoId
      required: true
      schema:
        type: integer
    GenericAssetId:
      in: path
      name: GenericAssetId
      required: true
      schema:
        type: integer
security:
  - finary_access_token: []
paths:
  /auth/signin:
    post:
      operationId: signin
      tags:
        - general
      summary: Authenticate the user
      description: Authenticate the user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginInfo'
      security: []
      responses:
        '201':
          description: Success. A JSON object representing the user
          headers:
            Set-Cookie:
              schema:
                type: string
                example: finary_access_token=abcde12345
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      result:
                        type: object
                        properties:
                          user:
                            $ref: '#/components/schemas/User'
                          access_token_expiry:
                            type: integer
                          refresh_token_expiry:
                            type: integer
                        required:
                          - user
                          - access_token_expiry
                          - refresh_token_expiry
        '202':
          description: 'Success, but 2FA is needed. A JSON object with necessary info'
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      result:
                        type: object
                        properties:
                          otp_relay_token:
                            type: string
                        required:
                          - otp_relay_token
  /users/me:
    get:
      operationId: get_user_me
      tags:
        - user
      summary: Get the logged in user
      description: Get the logged in user
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      result:
                        $ref: '#/components/schemas/User'
  /crypto/chains:
    get:
      operationId: get_crypto_chains
      tags:
        - general
      summary: Get the supported crypto chains
      description: Get the supported crypto chains that can be used when a user enters his wallet adress
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      result:
                        type: array
                        items:
                          $ref: '#/components/schemas/CryptoChain'
  /bank_account_types:
    get:
      operationId: get_bank_account_types
      tags:
        - general
      summary: 'Get the available bank account types, given a type of bank account (invest / cash)'
      description: 'Get the available bank account types, given a type of bank account (invest / cash)'
      parameters:
        - $ref: '#/components/parameters/BankAccountType'
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      result:
                        type: array
                        items:
                          $ref: '#/components/schemas/BankAccountType'
  /currencies/autocomplete:
    get:
      operationId: get_currencies
      tags:
        - general
      summary: Get the currencies for a given type and query
      description: Get the currencies for a given type (`crypto` or `crypto`) and a query
      parameters:
        - $ref: '#/components/parameters/CurrencyType'
        - $ref: '#/components/parameters/Query'
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      result:
                        type: array
                        items:
                          $ref: '#/components/schemas/Currency'
  /generic_asset_categories/autocomplete:
    get:
      operationId: get_generic_asset_categories
      tags:
        - general
      summary: Get the generic asset categories
      description: Get the generic asset categories used to populate the dropbox in the generic asset UI.
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      result:
                        type: array
                        items:
                          $ref: '#/components/schemas/GenericAssetCategory'
  /users/me/institutions/autocomplete:
    get:
      operationId: get_user_institutions
      tags:
        - user
      summary: 'Search institution with given name, also among user created ones?'
      description: 'Search institution with given name, also among user created ones?'
      parameters:
        - $ref: '#/components/parameters/Name'
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      result:
                        type: array
                        items:
                          $ref: '#/components/schemas/Institution'
  /users/me/institution_connections/details:
    get:
      operationId: get_user_institution_connections
      tags:
        - user
      summary: Get the logged in user's institution connections
      description: Get the logged in user's institution connections
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      result:
                        type: object
                        properties:
                          banks:
                            type: array
                            items:
                              $ref: '#/components/schemas/ConnectionBank'
                          cryptos:
                            type: array
                            items: {}
                          startups:
                            type: array
                            items:
                              $ref: '#/components/schemas/ConnectionStartup'
                        required:
                          - banks
                          - cryptos
                          - startups
  /precious_metals/autocomplete:
    get:
      operationId: get_precious_metals
      tags:
        - general
      summary: Search precious metal in Finary database
      description: Search precious metal in Finary database
      parameters:
        - $ref: '#/components/parameters/Query'
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      result:
                        type: array
                        items:
                          $ref: '#/components/schemas/PreciousMetal'
  /scpis/autocomplete:
    get:
      operationId: get_scpis
      tags:
        - general
      summary: Search scpis in Finary Database
      description: Search scpis in Finary Database
      parameters:
        - $ref: '#/components/parameters/Query'
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      result:
                        type: array
                        items:
                          $ref: '#/components/schemas/SCPIResult'
  /securities/autocomplete:
    get:
      operationId: get_securities
      tags:
        - general
      summary: Search securities in Finary Database
      description: Search securities in Finary Database
      parameters:
        - $ref: '#/components/parameters/Query'
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      result:
                        type: array
                        items:
                          $ref: '#/components/schemas/SecurityResult'
  /users/me/cryptos:
    get:
      operationId: get_user_cryptos
      tags:
        - user
      summary: Get logged in user cryptos
      description: Get logged in user cryptos
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      result:
                        type: array
                        items:
                          $ref: '#/components/schemas/UserCrypto'
    post:
      operationId: add_user_crypto
      tags:
        - user
      summary: Create a crypto entry in crypto account
      description: Create a crypto entry in crypto account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InputCrypto'
      responses:
        '201':
          description: Created.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      result:
                        $ref: '#/components/schemas/UserCrypto'
  '/users/me/cryptos/{CryptoId}':
    get:
      operationId: get_user_crypto
      tags:
        - user
      summary: Get a crypto line by CryptoId
      description: Get a crypto line by CryptoId
      parameters:
        - $ref: '#/components/parameters/CryptoId'
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      result:
                        $ref: '#/components/schemas/UserCrypto'
    put:
      operationId: update_user_crypto
      tags:
        - user
      summary: Update a crypto line by CryptoId
      description: Update a crypto line by CryptoId
      parameters:
        - $ref: '#/components/parameters/CryptoId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserCrypto'
      responses:
        '200':
          description: The crypto line was updated successfully.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      result:
                        $ref: '#/components/schemas/UserCrypto'
    delete:
      operationId: delete_user_crypto
      tags:
        - user
      summary: Delete a crypto line by CryptoId
      description: Delete a crypto line by CryptoId
      parameters:
        - $ref: '#/components/parameters/CryptoId'
      responses:
        '204':
          description: The crypto line was deleted successfully.
  /users/me/wealth/startups:
    get:
      operationId: get_user_startups
      tags:
        - user
      summary: Get logged user startups
      description: Get logged user startups
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      result:
                        type: object
                        properties:
                          total_current_value:
                            type: number
                          total_invested:
                            type: number
                          unrealized_irr:
                            type: number
                          realized_irr:
                            type: number
                            nullable: true
                          unrealized_pnl:
                            type: number
                          unrealized_pnl_percent:
                            type: number
                          average_holding_duration:
                            type: number
                          multiple:
                            type: number
                          distribution:
                            type: object
                            properties:
                              companies:
                                $ref: '#/components/schemas/DistributionShare'
                              countries:
                                $ref: '#/components/schemas/DistributionShare'
                              round_types:
                                $ref: '#/components/schemas/DistributionShare'
                              funding_round:
                                $ref: '#/components/schemas/DistributionShare'
                              years:
                                $ref: '#/components/schemas/DistributionShare'
                            required:
                              - companies
                              - countries
                              - round_types
                              - funding_rounds
                              - years
                          startups:
                            type: array
                            items:
                              $ref: '#/components/schemas/Startup'
                    required:
                      - total_current_value
                      - total_invested
                      - realized_irr
                      - unrealized_pnl
                      - unrealized_pnl_percent
                      - average_holding_duration
                      - multiple
                      - distribution
                      - startups
  /users/me/generic_assets:
    get:
      operationId: get_user_generic_assets
      tags:
        - user
      summary: Get logged in user generic assets
      description: Get logged in user generic assets
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      result:
                        type: array
                        items:
                          $ref: '#/components/schemas/UserGenericAsset'
    post:
      operationId: add_user_generic_asset
      tags:
        - user
      summary: Create a generic asset entry
      description: Create a generic asset entry
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                category:
                  type: string
                quantity:
                  type: number
                buying_price:
                  type: number
                current_price:
                  type: number
              required:
                - name
                - category
                - quantity
                - buying_price
                - current_price
      responses:
        '201':
          description: Created.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      result:
                        $ref: '#/components/schemas/UserGenericAsset'
  '/users/me/generic_assets/{GenericAssetId}':
    get:
      operationId: get_user_generic_asset
      tags:
        - user
      summary: Get a generic asset by id
      description: Get a generic asset by id
      parameters:
        - $ref: '#/components/parameters/GenericAssetId'
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      result:
                        $ref: '#/components/schemas/UserGenericAsset'
    put:
      operationId: update_user_generic_asset
      tags:
        - user
      summary: Update a generic asset by id
      description: Update a generic asset by id
      parameters:
        - $ref: '#/components/parameters/GenericAssetId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserGenericAsset'
      responses:
        '200':
          description: The generic asset was updated successfully.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      result:
                        $ref: '#/components/schemas/UserGenericAsset'
    delete:
      operationId: delete_user_generic_asset
      tags:
        - user
      summary: Delete a generic asset by id
      description: Delete a generic asset by id
      parameters:
        - $ref: '#/components/parameters/GenericAssetId'
      responses:
        '204':
          description: The generic asset was deleted successfully.
  /users/me/holdings_accounts:
    get:
      operationId: get_user_holdings_accounts
      tags:
        - user
      summary: Get the holdings accounts of the current user
      description: Get the holdings accounts of the current user
      parameters:
        - $ref: '#/components/parameters/HoldingsAccountType'
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      result:
                        type: array
                        items:
                          $ref: '#/components/schemas/HoldingsAccount'
  /users/me/scpis:
    get:
      operationId: get_user_scpis
      tags:
        - user
      summary: Get the SCPIs of the current user
      description: Get the SCPIs of the current user
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      result:
                        type: array
                        items:
                          $ref: '#/components/schemas/UserSCPI'
  /users/me/fonds_euro:
    get:
      operationId: get_user_fonds_euro
      tags:
        - user
      summary: Get the Fonds Euro for the current user
      description: Get the Fonds Euro for the current user
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      result:
                        type: array
                        items:
                          $ref: '#/components/schemas/UserFondsEuro'
  /users/me/securities:
    get:
      operationId: get_user_securities
      tags:
        - user
      summary: Get the Securities of the current user
      description: Get the Securities of the current user
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      result:
                        type: array
                        items:
                          $ref: '#/components/schemas/UserSecurity'
